<li><button data-bind="enable: creatingButtonEnabled" class="btn btn-primary">Criar</button></li>
<li><button data-bind="enable: discartingButtonEnabled" class="btn btn-danger">Descartar</button></li>
<li><button data-bind="visible: deleteButtonVisible" class="btn btn-danger">Excluir</button></li>
<li>
    <button data-bind="visible: publishingButtonVisible, enabled: publishingButtonEnabled" class="btn btn-success">
        Publicar
    </button>
</li>
<li><button data-bind="visible: unpublishingButtonVisible" class="btn btn-warning">Despublicar</button></li>
<li><button data-bind="visible: closingButtonVisible" class="btn btn-inverse">Fechar</button></li>