{% extends "layout.html" %}

{% block body %}
<link href="{{ url_for('static', filename='css/bootstrapSwitch.css') }}" rel="stylesheet" >

<ul class="breadcrumb">
	<li>
		<a href="/amin">Admin</a><span class="divider">/</span>
	</li>
	<li>
		<a href="/accounts">Contas</a><span class="divider">/</span>
	</li>
	<li class="active">
		Conta
	</li>
</ul>

<div class="container" >

	<form method="post" class="form-actions form-horizontal" action="/updateAccount">
		{{ accountForm.csrf_token }}
		<div class="control-group">
			<div class="control-label" >
				{{ accountForm.author.label }}
			</div>
			<div class="controls">
				{{ accountForm.author(**{'class':'span2', 'autofocus':'autofocus', 'required': '', 'title': 'Autor da conta'}) }}
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				{{ accountForm.sex.label }}
			</div>
			<div class="controls">
			<div class="switch " data-on="danger" data-off="info" data-on-label="&nbsp;Feminino&nbsp;" data-off-label="&nbsp;Masculino&nbsp;" id="sex-toggle-button">
				{{ accountForm.sex }}
			</div>
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				{{ accountForm.occupation.label }}
			</div>
			<div class="controls">
				{{ accountForm.occupation(class_ = 'span2', required = '', title = 'ocupação do autor da conta') }}
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				{{ accountForm.birth.label }}
			</div>
			<div class="controls">
				{{ accountForm.birth(class_ = '', type = 'text', placeholder = 'aaaa-mm-dd' , title = 'data de nascimento do autor da conta') }}
			</div>
		</div>
		
		 <div class="control-group">
			<div class="control-label">
				{{ selectList.label }}
			</div>
			<div class="controls" >
				{{ selectList.html|safe }}
				{% for interest in selectList.list %}
  					<input type="hidden" name="interestsList[]" value="{{interest}}" />
				{% endfor %}
			</div>
		</div>
		
		<div class="control-group">
			<div class="control-label">
				{{ accountForm.about_me.label }}
			</div>
			<div class="controls">
				{{ accountForm.about_me(class_ = '', required = '', title = 'descrição sobre o autor', rows = '6', cols = '90') }}
			</div>
		</div>
		
		<div class="control-group">
			<div class="control-label">
				{{ accountForm.username.label }}
			</div>
			<div class="controls">
				{{ accountForm.username(class_ = 'span2', required = '', title = 'Nome de usuário no sistema') }}				
			</div>
		</div> 
		
		<div class="control-group">
			<div class="control-label">
				{{ accountForm.password.label }}
			</div>
			<div class="controls">
				{{ accountForm.password(class_ = 'span2',  title = 'Senha de usuário') }}
			</div>
		</div>
		
		<input type="submit" class="btn btn-success pull-right" value="Salvar Mudanças">
	</form>
</div>

{% endblock %}

{% block scripts %}
 <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrapSwitch.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='admin/account.js') }}"></script>
{% endblock %}
