{% extends "layout.html" %}

{% block body %}

<div class="container-fluid">
	<div class="row-fluid">

			<textarea data-bind="visible: showEditor" id="editor" rows="10" cols="30" style="width:740px;height:440px">
        	</textarea>

            <table data-bind="foreach: hasSearch ? searchResults : posts" class="table table-bordered">
              <thead>
                <tr>
                  <th><input data-bind="checked: $parent.checkAll" class="accordion-toggle" type="checkbox" /></th>
                  <th>Id</th>
                  <th>Título</th>
                  <th>Data</th>
                  <th>Publicado</th>
                  <th>Autor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label data-bind="text: id"></label></td>
                  <td><label data-bind="text: getTitle"></label></td>
                  <td><label data-bind="text: date"></label></td>
                  <td><input data-bind="checked: state" class="accordion-toggle" type="checkbox" /></td>
                  <td><label data-bind="text: author"></label></td>
                </tr>
              </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <button>Mais posts</button>
                        </td>
                    </tr>
                </tfoot>
            </table>

	</div>

</div>
<!--/.row-fluid-->
</div><!-- /.container-fluid-->

{% block scripts %}
<script type="text/javascript" data-main="static/js/pages/admin" src="{{ url_for('static', filename='js/lib/require.js') }}">
</script>
{% endblock %}		
{% endblock %}