<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>jeanlopes.info</title>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="alert">
		 <button type="button" class="close" data-dismiss="alert">&times;</button>		
			{% for message in messages %}
			<strong>{{ message }}</strong>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" >
		<link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet" >
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kendo.common.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kendo.common.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kendo.default.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/kendo.web.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/knockout-2.2.1.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
	<body>
		<!-- Menu -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar" > </span>
						<span class="icon-bar" > </span>
						<span class="icon-bar" > </span>
					</button>
					<a class="brand" href="/home">jeanlopes.info</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">
							<input type="text" class="input-medium search-query">
							<a href="#buscar">Buscar</a>
						</p>
						<ul class="nav" data-bind="with: $root.accountViewModel">
							<li class="active">
								<a href="#">Tags</a>
							</li>
							<li>
								<a href="#contact">Contato</a>
							</li>
							<li>
								<a href="#about">Sobre mim</a>
							</li>
							<li class="dropdown" data-bind="template: {name:selectTemplate}"></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>

			<!-- Botões Sociais -->

		</div>

		<script type="text/html" id="dropdownTemplate">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-bind="with: $root.accountViewModel" ><i data-bind="text: user" ></i><b class="caret"></b></a>
			<ul class="dropdown-menu">
			<li class="nav-header">Gerenciar</li>
			<li><a href="#">Contas</a></li>
			<li><a href="#">Gastos</a></li>
			<li><a href="account">Tags</a></li>
			<li class="divider"></li>
			<li class="nav-header">Minha conta</li>
			<li><a href="account">Perfil</a></li>
			<li data-bind="with: $root.accountViewModel"><a data-bind="click: logout" href="#">Sair</a></li>
			</ul>
		</script>

		<script type="text/html" id="loginTemplate">
			<a href="#modalLogin" role="button" data-toggle="modal">
			Login
			</a>
		</script>

		<div id="modalLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Fazer Login</h3>
			</div>
			<div  class="modal-body" data-bind="with: $root.accountViewModel" >
				<form id="loginForm" class="form-search" autocomplete="off">
					{% if form %}
					{{ form.csrf_token }}
					{{ form.user.label }} {{ form.user(**{'placeholder': form.userLabel, 'class':'input-small', 'autofocus':'autofocus', 'data-bind':'value: user'}) }}
					{{ form.password.label }} {{ form.password(**{'class':'input-small', 'data-bind':'value: password', 'placeholder': form.passwordLabel}) }}
					{% endif %}
				</form>
				<label class="checkbox" />
				<input type="checkbox" />
				<label> Lembrar-me </label>
			</div>
			<div data-bind="with: $root.accountViewModel" class="modal-footer">
				<!--<button class="btn" data-bind="click: forgot" data-dismiss="modal" aria-hidden="true">
				Esqueci a senha
				</button> -->
				<button form="loginForm" class="btn btn-primary" data-bind="click: login">
					Entrar
				</button>
			</div>
		</div>

		<section class="content">
			{% block body %}
			{% endblock %}
		</section>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		{% block scripts %}
		{% endblock %}
		<script type="text/javascript" defer="defer" src="{{ url_for('static', filename='js/layout.js') }}"></script>
	</body>
</html>